
<body>
  <div id="body">
    <div id="main">
      <h1>{{ title }}</h1>
      <div id="taskIn">
        <input id="mainInput" type="text" placeholder="Add New Task" #task>
        <button (click)="addTask(task.value); task.value =''; ">+</button>
      </div>  
      <ul *ngFor="let item of list" class="listingmain">
        <li class="listing"><div id="listingText">{{item.name}}</div><div id="listingButton"><button (click)="removeTask(item.id)">Remove Task</button></div></li>
      </ul>
    </div>
  </div>
 
 
</body>


<router-outlet></router-outlet>
